.App {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 249, 252);
  min-height: 100vh;
  /* min-width: 100vh; */
  /* min-height: 80vh;
  margin: 5%;
  padding: 10px;
  border: 1px;
  box-shadow: 5px 5px 100px rgba(0,0,0,0.5); */
}