.main {
  min-width: 70vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.main__wall {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.main__wall__create {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 45%;
  padding-right: 45%;
  min-height: 50px;
  font-size: 18px;
  background-color: rgba(54, 54, 54, 1);
  color: rgb(226, 226, 226);
  border: 0.5px solid rgb(155, 155, 155);
  border-radius: 5px;
}

.main__wall__post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 20px;
  border: 1px;
  background-color: rgb(247, 247, 248);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main__wall__post__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skeleton-loader {
  margin-top: 30px;
  background-color: rgb(247, 247, 248);
  padding: 20px;
  border: 1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main__wall__post__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__wall__post__author {
  color: rgb(97, 97, 97);
  font-size: 15px;
  font-weight: normal;
}

/* .main__wall__post__footer__tag {

} */