.register-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 340px;
  max-height: 360px;
  margin: 5%;
  padding: 15px;
  border: 1px;
  background-color: rgb(221, 221, 221);
  box-shadow: 1px 1px 5px rgba(212, 212, 212, 0.5);
  border-radius: 5px;
}

.register-form___registration {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 10px;
}

.register-form__signin {
  vertical-align: top;
}

.input-error {
  color: rgb(194, 38, 38)
}