.login-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  /* width: 50vw; */
  margin: 5%;
  padding: 10px;
  border: 1px;
  background-color: rgb(221, 221, 221);
  box-shadow: 1px 1px 5px rgba(212, 212, 212, 0.5);
  border-radius: 5px;
}

.login-form___login {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 10px;
}

.login-form__register {
  vertical-align: top;
}